body{
    background-color: gray;
}

h1{
    font-weight: bolder;
    color: purple;
    text-align: center;
    background-color: white;
    background-color: gray;
    
}
form{
    text-align: center;
}
h3{
    font-weight: bolder;
    text-align: center;
    color: rgb(87, 2, 2);
    
}
h4{
    font-weight: bolder;
    text-align: center;
    color: rgb(0, 0, 0);
}

p{
    color: rgb(3, 3, 3);
    font-weight: bolder;
    text-align: center;
}

